qrc_qml.cpp
doc/
srpms/
*.so.*
*.Po
*.Plo
*.Pio
cipher/.deps*
holad.pro.user
bin/holad
src/build*
shadows/*
obj/*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*.so
*/*/*.so
*/*/*/*.so
*/moc_*
moc/
src/moc/
src/gui/moc/
*/*/ui*
ui/ui_*.h
Makefile
build-holad*
*~
*/*~
